# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
.eslintcache

# testing
/coverage
.nyc_output

# production
/build
*.map
*.bundle.js

public/bundle.js
public/*bundle*
_site/
.sass-cache/

functions/firebase-debug.log

# misc
.DS_Store
.env
*.iml
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

