.profile-headline {
  padding: 0 5px;
}

span.pencil-about,
span.pencil-header,
span.pencil-social {
  font-size: 80%;
  font-weight: normal;
  padding: 8px;
  margin-left: 5px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: $text-color;
}

span.pencil-profile-image {
  position: absolute;
  bottom: -45px;
  right: 5px;
  padding: 8px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: $text-color;
}

.profile-pencil h4.center-text.card-title {
  margin-top: 1em;
}

.profile-pencil p.card-text:last-child {
  margin-bottom: 1.5em;
}

.edit-about-text {
  margin-bottom: 1.5em;
}

input.profile-header-input,
input.profile-about-input {
  margin: 0 auto;
}

.social-media-update-form label.form-control-label {
  width: 100%;
}
.social-media-update-form h4 {
  font-size: inherit;
}
