// This sets the outer most div font size to 17.25px
.site-content {
  @include font-size(1.4); // Sets outer most container font to 17px
  line-height: 1.6em; // em references outer most container
}

.site-main {
  // margin: 1.4em; // margin for all content
  font-size: 0.625em; // mobile font size relative to outer most container
  line-height: 1.6em;
}

@media screen and (min-width: 30em) {
  .site-main {
    margin: 1.8em;
  }
}

@media screen and (min-width: 40em) {
  .site-main {
    font-size: 0.875em; // Increasing font back to 17.25px
  }
}

@media screen and (min-width: 57em) {
  .site-main {
    max-width: 45em;
    margin: 1.8em auto;
  }
}
