.profile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-card {
  display: inline-block;
  width: 20%;
  height: 20%;
  padding: 0;
  margin: 5px 5px;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
}
