body,
h1 { 
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
}

.page-header h1 {
  padding: 5px;
  background-color: rgba(0,0,0, .5);
  font-size: 2em;
}

.page-header small {
  color: #ffffff;
}

input, 
button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  color: #606060;
}

.form-buttons button {
  background-color: #606060;
  color: #ffffff;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  font-size: 90%;
  border-radius: 0;
  border: none;
}

.form-buttons button.active,
.form-buttons button.active:hover,
.form-buttons button.active:focus {
  background-color: #ec1928;
  color: #ffffff;
  border: none;
}

.review {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 90%;
}
.review img {
  margin-right: 2px;
}
