/* default image: imageUrl = 'https://static.wixstatic.com/media/de271e_a0f92b126d584e54a84a2f721c1571d4~mv2_d_3543_2480_s_4_2.jpg/v1/crop/x_0,y_221,w_3543,h_1159/fill/w_886,h_246,al_c,q_80,usm_0.66_1.00_0.01/de271e_a0f92b126d584e54a84a2f721c1571d4~mv2_d_3543_2480_s_4_2.webp';*/
/* list of HTML elements pertaining to DoWhop-Selector stylings: */

#show-chat-data {
  background-color: white;
}

/*

  create seperate classes for the top
  background image and for the cards

*/

.button-style {
  background-color: red;
  height: 40px;
  min-height: 19px;
  width: 142px;
  color: white;
  font-size: 18px;
  text-align: center;

}

.button-style:hover {
  background-color: white;
  color: red;

}

#dowhop-selector-container,
.dowhop-selector {
   margin-bottom: 25px;
}

.dowhop-selector:hover {
  cursor: pointer;
}

.dowhop-selector-header-top {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dowhop-selector-header-top h1, h2 {
  background-color: #ffffff;
  background-color: rgba(255,255,255, .3);
}

.dowhop-selector-header {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0;
  margin-top: 0;
}

.dowhop-selector-header h1, h2 {
  background-color: #ffffff;
  background-color: rgba(255,255,255, .3);
}

.dowhop-selector-header h1,
.dowhop-selector-header-top h1 {
  margin: 0;
  padding: 5px 10px;
}

.dowhop-selector-body {
  padding: 5%;
}

/*

  Styling the material icons
  throughout pages with added
  .dowhop- classes

*/

i.dowhop-icon {
  color: rgba(255,255,255, .5);
  opacity: 0.5;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

i.dowhop-icon:hover,
i.dowhop-icon:active {
  color: rgba(255,255,255, .9);
  cursor: pointer;
}

/*

  Create New DoWhop Form
  and MDL card styles

*/

.mdl-layout__content {
  background-color: #ffffff;
}
.mdl-card__title {
  background-color: #ec1928;
}
.mdl-card__title-text {
  background-color: #ec1928;
  color: #ffffff;
}
.mdl-card__supporting-text {
  padding:  24px;
  flex: none;
}

/* form input styles */
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  color: #605e5e;
  font-size: 1em;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d1d1d1;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  font-size: 0.875em;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d1d1d1;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  font-size: 0.875em;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d1d1d1;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  font-size: 0.875em;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d1d1d1;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  font-size: 0.875em;
}
input {
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif !important;
}
input[type=file]#dowhop-image-capture{
  margin-bottom: 12px;
  font-size: .875em;
}

.mdl-card.mdl-shadow--6dp {
  width: 100%;
}
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.has-placeholder.is-upgraded {
  width: 100%;
}
