/* For styling user icons throughout the application */

/* user this to style the layout for multiple user icons (spacing, sizings, etc) on View page. */

.user-avatar-section {
  display: inline-flex;
  justify-content: flex-start;
}

.user-avatar-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.user-avatar-container a {
  text-decoration: none;
  color: #ec1928;
  display: block;
}

.user-avatar-container a:visited {
  text-decoration: none;
  color: #ec1928;
}

.user-handle {
  display: flex;
  justify-content: center;
}

.user-avatar {
  height: 100px;
  width: 100px;
  margin: 0 auto 2em;
}

.user-avatar img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5%;
}

.user-avatar-separator {
  height: 100%;
  color: #000000;
}
