/* Styling for the direct message forms. */

.direct-message {
	background-color: eggShell;
}

#direct-message-form {
	border: 0.5px dotted grey;
	padding: 0% 5% 5%;
}

#direct-message-form-input {
	background-color: #fff9fa;
	color: red;
	display: flex;
	width: 100%;
	justify-content: center;
}
