#review blockquote {
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 0;
}

img.comment-headshot-pic {
  border-radius: 50%;
  width:15%;
  padding-right: 3px;
}

.comment-by-name {
  display: inline;
}
