/* Custom profile stylings shall go here */

/* Pure CSS grid */
.grid-container {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: auto;
}

.left-bar{
  margin-top:-15px;
}
.profile-details-container {
  margin-left: 15px;
  height: auto;
  width: auto;
}

/*.mdl-card {
  max-width: 300px;
  max-height: 300px;
}*/

.mdl-card-2 {
  width: 300px;
  height: 250px;
  margin-right: -5px;
}

.my-profile-picture {
  max-width: 250px;
  max-height: 250px;
  min-width: 200px;
  min-height: 100px;
  position: relative;
  margin-top: 100px;

}
#my-profile-picture {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  border: 5px solid white;
}

#my-profile-about {
  display: inline-flex;
  text-align: inherit;
  max-width: 100%;
  max-height: auto;
  min-height: auto;
  margin-top:100px;
  word-wrap: break-word;
  text-align: justify;
}
.about-div {
  display: flex;
  align-items: center;
  }

#form-pad{
  margin: 0 auto;
}

#send-message-div{
  margin:0px !important;
}

#inline-icons{
  padding-right: 5px; 
  display: inline-grid; 
  padding-bottom: 8px;
}
#my-display-name {
  font-size: 17px;
  font-weight: bold;
  color: black;
  background-color: white;
  margin-left:46px;
  margin-top:20px;
}

#my-profile-name {
  visibility: hidden;
}



.profile-icons {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  margin-right: 20px;
}

.profile-data {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 13px;
}
.grid1 {
  padding-left: 20px;
}
.grid2 {
  padding-left: 10px;
  margin: auto;
  margin-top: 10px;
  margin-left: 30px;
}

.profile-activities-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-activities-div2 {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 5px;
}

.activity-caption {
  text-align: center;
}

.outer-box {
  max-width: 175px;
  max-height: 175px;
  margin: 10px;
  display: block;
  position: relative;
}

.activity-image {
  height: auto;
  width: 150%;
}

.outer-box img {
  max-width: 100%;
  max-height: 75%;
}

.outer-box .inner-box {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.outer-box .inner-box p {
  color: #000000;
  margin-top: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.outer-box:hover .inner-box {
  opacity: .9;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}



.outer-box:hover .mdl-cell{
  opacity: .9;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

}

.inner-box {
  text-align: center;
}

#form-edit {
  display: none; /* This gets swtiched on/off */
  position: fixed; /* Stay in place */
  margin-left: 12%;
  /*padding-right: 11%; /* Asymmetrical because scrollbar might appear on right */
  z-index: 1;
  left: 0;
  top: 0;
  /*padding-top: 2%;*/
  /*padding-bottom: 10%;*/
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.4)
}

#edit-grid {
    /*background: rgb(0, 0, 0); /* Fallback color */
 
}
#whole-form {
  background-color: white;
}

.background-photo {
  height: 300px;
  width: 100%;
  margin-bottom: -180px;

}

#edit-profile-button {
  color: #606060;
  text-decoration: none;
}
#edit-profile-button:hover, 
#edit-profile-button:focus{
  color: #ec1928 !important;
}

#edit-profile-button:hover {
  color: #606060;
  text-decoration: none;
  cursor: pointer;
}

#my-profile-social {
  cursor: pointer;
  margin-left: -15px;
}


#my-profile-social-TW {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
#my-profile-social-TW placeholder {
  background-position: 7px 7px;
  background-repeat: no-repeat;
}



#my-profile-social-FB {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}


#my-profile-social-LI {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

#my-profile-social-IG {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.social-media-twitter {
  min-height: .5px;
  min-width: .5px;
}

.social-hover:hover,
.social-hover:focus {
  zoom: 105%;
  fill: red;
}

.profile-icons {
  margin: auto;
}

input#profile-image-capture-1,
input#profile-image-capture-2,
input#profile-image-capture-3 {
  display: none;
}

i.material-icons {
  cursor: pointer;
}

label > i.material-icons,
label > i.material-icons,
label > i.material-icons {
  top: -17px;
  padding-left: 10px;
  font-size: 44px;
  fill: #606060;
}

#button-1 i.material-icons,
#button-2 i.material-icons,
#social-button-1 i.material-icons,
#social-button-2 i.material-icons,
#social-button-3 i.material-icons {
  cursor: pointer;
  font-size: 22px;
}

button#button-1,
button#button-2 {
  top: -35px;
  left: 15px;
}

#social-button-1,
#social-button-2,
#social-button-3 {
  top: -15px;
  left: 18px;
}
svg.social-media-svg {
  margin-top: -20px;
  margin-left: 9px;
}

#profile-about {
  font-family: inherit;
}

#tablet-size {
  width: 800px;
}

@media only screen and (max-width: 500px) {
    .my-profile-picture {
      text-align: center;
      margin: 0 auto;
    }

    #my-display-name {
      margin-left: 0px;
    }
}
