/* Styling for the direct message forms. */

#direct-message-form-div {
  /*min-width: 500px;*/
  opacity: 1.0;
}
#direct-message-form {
  padding: 0% 5% 5%;
  opacity: 1.0;
}

#direct-messages-div {
  z-index: 2;
  opacity: 1.0;
}

#direct-message-form-input {
  background-color: #fff9fa;
  color: #ec1928;
  display: flex;
  width: 100%;
  justify-content: center;
}

.dm-modal-sub {
  opacity: 0.95; /* Customize this. */
  width: 100%;
}

.dm-modal {
  display: none; /* This gets swtiched on/off */
  position: fixed; /* Stay in place */
  padding-left: 10%;
  padding-right: 11%; /* Asymmetrical because scrollbar might appear on right */
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 2%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.dm-close-span {
  display: flex;
  justify-content: space-between;
}

.dm-close {
  color: #fffcfc;
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.dm-close:hover,
.dm-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.message-container.mdl {
  /*background: pink;*/
  opacity: 1.0;
}

.message:hover {
  /*background: pink;*/
  opacity: 1.0;
}
