/* 
  
  LOGIN SPLASH PAGE

*/

#login-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.login-container {
  position: relative;
  display: flex;
  align-items: center;
}

.login-container > div {
  flex: 1;
}

.login-page-title {
  margin-top: 5%;
  margin-bottom: 100px;
  font: normal normal normal 38px/1.4em 'Avenir Light', sans-serif;
  text-align: center;
  color: #606060;
}

/* 

  TAB NAVIGATION 

*/

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  color: #000000;
  transition: all .4s ease 0s;
  padding: 0 15px;
  float: left;
}

ul a:hover,
ul a:focus {
  color: #ec1928;
  text-decoration: none;
}

ul.tabs a.selected,
ul.tabs a[aria-selected='true'] {
  text-decoration: none;
}

div[aria-hidden='true'] {
  display: none;
}

/*  

  SVG TAB ICON 
  HOVER STYLES
  
*/

li a {
  width: 80px;
  height: auto;
}

.tab::after {
  stroke: #000000;
  display: inline-block;
  content: "";
  transition: all .4s ease 0s;
}

ul a:hover,
ul a:focus {
  fill: #ec1928;
}

 /*The container <div> - needed to position the dropdown content */

.dropbtn {
  cursor: pointer;
  margin-top: -86px;
  margin-left: 700px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -86px;
}

 /*Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: -39px;
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 700px;
}

 /*Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

 /*Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

 /*Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 

  INDEX PAGE 
  CONVENIENCE STYLES



.hide-component {
  display: none;
}
