/*

  LOGIN SPLASH PAGE

*/

#login-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.login-container {
  position: relative;
  display: flex;
  align-items: center;
}

.login-container > div {
  flex: 1;
}

.login-page-title {
  margin-top: 5%;
  margin-bottom: 100px;
  font: normal normal normal 38px/1.4em 'Avenir Light', sans-serif;
  text-align: center;
  color: #606060;
}

/*

  TAB NAVIGATION

*/

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  font-family: 'Avenir Light', Avenir Light, Arial, sans-serif;
  color: #000000;
  transition: all .4s ease 0s;
  padding: 0 15px;
  float: left;
}

ul a:hover,
ul a:focus {
  color: #ec1928;
  text-decoration: none;
}

ul.tabs a.selected,
ul.tabs a[aria-selected='true'] {
  text-decoration: none;
}

div[aria-hidden='true'] {
  display: none;
}

/*
  NAV
  SVG TAB ICON
  HOVER STYLES

*/

li a {
  width: 70px;
  height: auto;
}

@media screen and (min-width: 376px) {
  li a {
    width: 80px;
    height: auto;
  }
}

.tab:hover,
.tab:focus {
  fill: #ec1928 !important;
  stroke: #ec1928 !important;
}

.tab::after {
  display: inline-block;
  content: "";
}

ul a:hover,
ul a:focus {
  color: #ec1928 !important;
}

.nav-tab-label {
  font-size: 90%;
}

@media screen and (min-width: 414px) {
  .nav-tab-label {
    font-size: 100%;
  }
}

/*

  Main Logout Btn

*/

header.mdl-grid {
  position: relative;
}

.nav-dropdown {
  position: absolute;
  right: 3%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-dropdown {
    top: 10%;
  }
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  right: 1%;
  min-width: 120px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-dropdown-content a {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, .7);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.nav-dropdown-content a:hover {
  color: #ec1928;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}
